@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.absolute-background-drawing {
  position: absolute;

  top: -10px;
  left: 50%;

  transform: translate(-50%, -10px);
  z-index: -1;
}

.text-shadow-primary:hover {
  filter: drop-shadow(0 0 0.75rem #f08d53);
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}