.container {
  border-radius: 1rem;
  transition: all 0.1s;
  position: relative;

  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.25);
}

.overlay {
  position: absolute;
  border-radius: 1rem;

  filter: brightness(1.1) opacity(0.8);
  mix-blend-mode: color-dodge;
  background-size: 150% 150%;
  background-position: 100%;
  transition: all 0.1s;
}

.darkOverlay {
  position: absolute;
  border-radius: 1rem;
  mix-blend-mode: hard-light;

  z-index: 3;
}
